doctype html
html(lang='en')
  head
    style(type='text/css')!= css
    script(type='text/javascript', src='/js/svg-pan-zoom.min.js')
    script(type='text/javascript', src='/js/definefactions.js')
    script(type='text/javascript', src='/js/definezones.js')
    script(type='text/javascript', src='/js/svg.js')
  body
    div#container
      div#ThePicture!= svg
      script(type='text/javascript', src='/js/initializesvg.js')
      img#texture(width='3000', height='2005', transform='translate(-93.11 -261.363) scale(1.341)', src=dataurl)
      div#information
        span#hover
        br
        span#click
