doctype html
html(lang='en')
  head
    link(rel='stylesheet', type='text/css', href='https://nrpg-coders.github.io/NRPG-Map/css/main.css')
    script(type='text/javascript')!= "window.addload=function(func){if(window.addEventListener){window.addEventListener('load', func)}else{window.attachEvent('onload', func)}}"
    script(type='text/javascript', src='https://nrpg-coders.github.io/NRPG-Map/js/invertcolor.js')
    script(type='text/javascript', src='https://nrpg-coders.github.io/NRPG-Map/js/svg-pan-zoom.js')
    script(type='text/javascript', src='https://nrpg-coders.github.io/NRPG-Map/js/svg.js')
    script(type='text/javascript', src='https://nrpg-coders.github.io/NRPG-Map/js/factions.js')
    script(type='text/javascript', src='https://nrpg-coders.github.io/NRPG-Map/js/zones.js')
  body
    div#container
      div.bar
      div#map!= svg
      script(type='text/javascript', src='https://nrpg-coders.github.io/NRPG-Map/js/initializesvg.js')
      div#click
      div#hover
      div#blurb
        div.bar
        div#blurbContent
          span.blurbTitle Name: 
          span.blurbText#blurbName
          br/
          span.blurbTitle Owner: 
          span.blurbText#blurbOwner
          br/
          span.blurbTitle Information: 
          br/
          span.blurbSubtitle Zone: 
          span.blurbText#blurbZoneBlurb
          br/
          span.blurbSubtitle Owner: 
          span.blurbText#blurbFactionBlurb
          br/
      div#long
        div.bar
        div#longContent
          span.longTitle Name: 
          span.longText#longName
          br/
          span.longTitle Owner: 
          span.longText#longOwner
          br/
          span.longTitle Information: 
          br/
          span.longSubtitle Zone: 
          span.longText#longZoneLong
          br/
          span.longSubtitle Owner: 
          span.longText#longFactionLong
          br/