@import "nib"

user-select()
  user-select arguments
  -moz-user-select arguments
  -webkit-user-select arguments
  -ms-user-select arguments

svgRegionWidth = 700px

/*
.hidden
  display none
//*/
#container
  //position relative
  //top 0px
  //left 0px
  relative top left
  width svgRegionWidth
  height svgRegionWidth*(2160/3840)
#map
  user-select none
  width inherit
  height inherit
#legend
  user-select auto
  position absolute
  bottom 0px
  left 0px
