user-select()
  user-select arguments
  -moz-user-select arguments
  -webkit-user-select arguments
  -ms-user-select arguments

.hidden
  display none

#container
  relative top left
#map
  user-select none
  width 700px
  height 420px
